<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
    <!--Groups of groups-->
    <test name="MethodGroupTest">
        <groups>
            <run>
                <include name="windows.*"/>
            </run>
        </groups>

        <classes>
            <class name="learn.testng.groups.MethodGroupTest"/>
        </classes>
    </test>

    <!--Test Groups-->
    <test name="Test1">
        <groups>
            <run>
                <include name="checkintest"/>
            </run>
        </groups>
        <classes>
            <class name="learn.testng.groups.GroupTest"/>
        </classes>
    </test>


</suite>