<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" />
</head>
<body>
<div class = "panel panel-primary">
    <div class = "panel-heading">
        <h3 class = "panel-title">文件下载示例</h3>
    </div>
</div>
<div class = "container">
    <div class = "panel panel-primary">
        <div class = "panel-heading">
            <h3 class = "panel-tile">文件列表</h3>
        </div>
        <div class = "panel-body">
            <div class = "table table-responsive">
                <table class = "table table-bordered table-hover">
                    <tbody class="text-center">
                    <tr th:each="file,fileStat:${filesList}">
                        <td>
                            <span th:text="${fileStat.count}"></span>
                        </td>
                        <td>
                            <a th:href="@{download(filename=${file.name})}">
                                <span th:text="${file.name}"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>